.account, .general {
    width: 100%;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    overflow-x: auto;
}

.account.visible, .general.visible {
    display: block;
    opacity: 1;
}

.account {
    background-color: var(--background);
    color: var(--main-white);
    padding: 10px;
}

.input-window-bg {
    display: none;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--darkout-bg-popup);
    overflow: hidden;
}

.input-window-bg.visible {
    display: flex;
    opacity: 1;
}

.input-window {
    display: flex;
    width: 22%;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-grey);
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.4), 0px -5px 15px rgba(255, 255, 255, 0.11);
}

.closeChangebtn {
    align-self: flex-end;
    margin: 10px;
    margin-right: 20px;
    color: #aaa;
    font-size: 1.75em;
    font-weight: bold;
}

.closeChangebtn:hover, .closeChangebtn:focus {
    color: var(--light-grey);
    text-decoration: none;
    cursor: pointer;
}

.change-content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.change-content p {
    font-size: 1em;
    font-weight: bold;
    color: var(--main-white);
}

.change-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.submit {
    background-color: var(--main-purple);
    color: var(--main-white);
    border: none;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 0.188em 0.125em;
    cursor: pointer;
    border-radius: 0.625em;
}

.submit:hover {
    background-color: var(--secondary-purple);
}

.account-info-element {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.account-button {
    color: var(--main-white);
    background-color: var(--main-purple);
    border: none;
    padding: 0.5em 1em;
    margin: 10px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
}

.account-button:hover {
    background-color: var(--secondary-purple);
}

.account-button:active {
    background-color: var(--third-purple);
}

.general {
    background-color: var(--background);
    color: var(--main-white);
    padding: 10px;
}

.classes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.classes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.class {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.class input {
    margin: 10px;
}

.classes-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.remove-class, .add-class, .save-classes {
    color: var(--main-white);
    background-color: var(--main-purple);
    border: none;
    padding: 0.5em 1em;
    margin: 10px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
}

.remove-class:hover, .add-class:hover, .save-classes:hover {
    background-color: var(--secondary-purple);
}

.remove-class:active, .add-class:active, .save-classes:active {
    background-color: var(--third-purple);
}

.timetable-breaks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.breaks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.break {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.break input {
    margin: 10px;
}

.breaks-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;

}

.remove-break, .add-break, .save-breaks {
    color: var(--main-white);
    background-color: var(--main-purple);
    border: none;
    padding: 0.5em 1em;
    margin: 10px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
}

.remove-break:hover, .add-break:hover, .save-breaks:hover {
    background-color: var(--secondary-purple);
}

.remove-break:active, .add-break:active, .save-breaks:active {
    background-color: var(--third-purple);
}

.timetable-times {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.times-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.time input {
    margin: 10px;
}

.times-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.remove-time, .add-time, .save-times {
    color: var(--main-white);
    background-color: var(--main-purple);
    border: none;
    padding: 0.5em 1em;
    margin: 10px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
}

.remove-time:hover, .add-time:hover, .save-times:hover {
    background-color: var(--secondary-purple);
}

.remove-time:active, .add-time:active, .save-times:active {
    background-color: var(--third-purple);
}