*, *::before, *::after {
    box-sizing: border-box;
    user-select: none;
    --main-white: rgb(243, 243, 243);
    --main-black: rgb(32, 32, 32);
    --background: #2B2636;
    --background-transparent: rgba(43, 38, 54, 0.8);
    --user-input-text: #9e9e9e;
    --main-purple: #4F396F;
    --secondary-purple: #3D3053;
    --third-purple: #362b4a;
    --dark-grey: #181818;
    --light-grey: #333;
    --darkmode-toggle-bg: #242424;
    --darkmode-label-bg: #ebebeb;
    --border: #424242;
    --table-border: #808080;
    --darkout-bg-popup: rgba(0,0,0,0.4);
    --error: rgb(100, 15, 0);
    --success: rgb(0,100,0);
    --warning: rgb(100,100,0);
    --info: rgb(0, 35, 100);
}

* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Calibri, sans-serif;   
    font-size: 100%;
    color : var(--main-white);
    background-color: var(--background);
}

.schoolhub {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 1em;
    font-weight: bold;
    color: var(--user-input-text);
    background-color: var(--main-purple);
    border-top: var(--secondary-purple) 5px solid;
}

.schoolhub img {
    width: 130px;
    aspect-ratio: auto;
    margin-left: 13%;

}

.schoolbg {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: -1;
}

.schoolbg.visible {
    opacity: 0.7;
}

.darkbg {
    user-select: none;
}

.welcome {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 1.1em;
    font-weight: bold;
    background-color: var(--background-transparent);
}

.welcome h1 {
    display: flex;
    flex-direction: column;
    color: var(--main-white);
    padding: 3px;
    padding-left: 13.1%; /* Cant use Margin for some stupid reason */
}

.navbar {
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: rgba(255, 255, 255, 0.6); Transparent till its set in setMode() */ 
    overflow: hidden;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.4), 0px 5px 15px rgba(255, 255, 255, 0.11);
    transition: background-color 0.3s ease-in-out;
}

.navbar-elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.navbar-start {
    justify-content: flex-start;
}

.navbar-end {
    justify-content: flex-end;
}

.navbar-elements a {
    transition: 0.3s ease-in-out;
    color: var(--main-white);
    text-align: center;
    padding: 10px 16px;
    text-decoration: solid;
    font-size: 1.05em;
}

.navbar-elements.bright a {
    color: var(--main-black);
}

.navbar-elements a:hover {
    background-color: var(--secondary-purple);
    color: black;
}

.navbar-elements a.active {
    background-color: var(--main-purple);
    color: var(--main-white);
}

.navbar-elements a.active:hover {
    background-color: var(--main-purple);
}

.navbar-elements a:nth-child(1) {
    margin-left: 26%;
}

input, select {
    margin: 8px 0;
    display: inline-block;
    padding: 6px;
    border: 1px solid var(--border);
    border-radius: 20px;
    box-sizing: border-box;
    background-color: var(--light-grey);
    color: var(--user-input-text);
    width: 100%;
    height: 5%;
    font-size: 1.25em;
    background:rgba(255,255,255,.08);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    user-select: text;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    cursor: pointer;
}

input[type=date] {
    cursor: text;
}

th, td {
    border: 1px solid var(--table-border);
    padding: 8px;
    text-align: left;
}

th {
    background-color: var(--main-purple);
}

tr:nth-child(even) {
    background-color: var(--light-grey);
}

tr:nth-child(odd) {
    background-color: var(--dark-grey);
}

.darkmode-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    width: 50px;
    height: 25px;
    background-color: var(--darkmode-toggle-bg);
    border-radius: 15px;
    cursor: pointer;
}

.darkmode-switch .slider {
    position: relative;
    height: 20px;
    background-color: var(--darkmode-label-bg);
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.darkmode-switch .slider:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.darkmode-switch input[type="checkbox"] {
    display: none;
}

.darkmode-switch input[type="checkbox"]:checked + .slider {
    transform: translateX(-19px);
}

.darkmode-switch input[type="checkbox"]:checked + .slider:before {
    transform: translateX(-2px);
}

.notification {
    position: absolute;
    top: 70px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;
    padding: 8px 16px;
    background-color: var(--main-purple);
    color: var(--main-white);
    font-size: 1em;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.4), 0px 5px 15px rgba(255, 255, 255, 0.11);
    pointer-events: none;
}

.notification h2 {
    font-weight: bold;
}

.notification.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.notification.error {
    background-color: var(--error);
}

.notification.success {
    background-color: var(--success);
}

.notification.warning {
    background-color: var(--warning);
}

.notification.info {
    background-color: var(--info);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    width: 70%;
    margin: 50px;
    background-color: var(--background);
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.4), 0px -5px 15px rgba(255, 255, 255, 0.11);
    transition: height 0.3s ease-in-out;
} 

.form-error {
    background-color: var(--error);
    color: var(--main-white);
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    padding: 8px;
    margin: 8px 0;
    border-radius: 20px;
}


@media screen and (max-width: 1400px) {
    .content {
        width: 90%;
    }
}

@media screen and (max-width: 1100px) {
    body {
        font-size: 0.8em;
    }
    .content {
        width: 90%;
    }
}

@media screen and (max-width: 700px) {
    body {
        font-size: 0.5em;
    }
    .schoolhub img {
        width:80px;
        aspect-ratio: auto;
        margin-left: 0;
    }
    .welcome h1 {
        font-size: 0.6em;
        padding-left: 0;
    }
    .navbar, .navbar-elements {
        flex-direction: column;
    }
    .navbar-elements a {
        font-size: 0.6em;
        width: 100%;
    }
    .navbar a:nth-child(1) {
        margin-left: 0;
    }
    .darkmode-switch {
        display: none;
    }
    th, td {
        padding: 3px;
    }
    .content {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .content {
        width: 98.5%;
    }
    th, td {
        padding: 2px;
    }
}