/* Colors:
    #2B2636 - Background
    #9e9e9e - Text color
    #4F396F - Navbar
    #3D3053 - Navbar hover
    #181818 - Content
    #333 - Content secondary
    #424242 - Border
    #ffcc89 - Sun gradient start
    #d8860b - Sun gradient end
    #777 - Moon gradient start
    #3a3a3a - Moon gradient end
    #242424 - Darkmode toggle background
    #ebebeb - Darkmode label background
    #fff - Sun color
    #7e7e7e - Moon color
*/

body {
    font-family: Calibri, sans-serif;   
    color : white;
    background-color: #2B2636;
}

.schoolbg {
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: .7;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

.brightbg {
    display: block;
}

.darkbg {
    display: none;
}

input[type=text], input[type=password], input[type=date], select {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    padding: 6px;
    border: 1px solid #424242;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #333;
    color: #9e9e9e;
    width: 400px;
    height: 35px;
    font-size: 20px;
    background:rgba(255,255,255,.1);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

th, td {
    border: 1px solid #424242;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4F396F;
}

tr:nth-child(even) {
    background-color: #333;
}

tr:nth-child(odd) {
    background-color: #181818;
}

.timetable, .homework-table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin: 15px 0;
}

.navbar {
    background-color: #181818;
    overflow: hidden;
    border-radius: 10px;
}

.navbar a {
    float: left;
    transition: 0.3s ease-in-out;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #3D3053;
    color: black;
}

.navbar a.active {
    background-color: #4F396F;
    color: white;
}

.navbar a.active:hover {
    background-color: #4F396F;
}

.navbar a:nth-child(3) {
    float: right;
}

#mode-toggle {
    float: right;
    background-color: #4F396F;
    color: white;
    border: none;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}

.dm-label {
    float: right;
    margin-top: 9px;
    width:70px;
    height:30px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 20px;
    box-shadow: inset 0px 2px 3px rgba(0,0,0,0.4), inset 0px -2px 3px rgba(255,255,255,0.4);
    cursor: pointer;
    transition: 0.3s;
}

.dm-label:after {
    content: "";
    width:25px;
    height: 25px;
    position: absolute;
    top:2px;
    left:5px;
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 18px;
    box-shadow: 0px 5px 1px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.darkmode-toggle {
    width: 0;
    height: 0;
    visibility: hidden;
}

.darkmode-toggle:checked + .dm-label {
    background: #242424;
}

.darkmode-toggle:checked + .dm-label:after {
    left:65px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
}

.dm-label:hover:after{
    width: 27px;
}

.dm-label:active:after{
    width: 32px;
}

.dm-label .dm-svg {
    position: absolute;
    width: 17px;
    top:6px;
    z-index: 100;
}

.dm-label .dm-svg.sun {
    left:8px;
    fill:#fff;
    transition: 0.3s;
}

.dm-label .dm-svg.moon {
    left:43.5px;
    fill:#7e7e7e;
    transition: 0.3s;
}

.darkmode-toggle:checked + .dm-label .dm-svg.sun {
    fill:#7e7e7e;
}

.darkmode-toggle:checked + .dm-label .dm-svg.moon {
    fill:#fff;
}

.content {
    padding: 16px;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #2B2636;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.4), 0px -5px 15px rgba(255, 255, 255, 0.11);
    transition: height 0.3s ease-in-out;
}

#timetable, #homework {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#timetable.visible, #homework.visible {
    display: block;
    opacity: 1;
}

#newhw {
    background-color: #4F396F;
    color: white;
    width: 100%;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}

#newhw:hover {
    background-color: #3D3053;
}

.newhwwin {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    overflow: hidden;
}

.newhwwin.visible {
    opacity: 1;
}

.newhwwin-content {
    display: flex;
    position: relative;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    flex-direction: row;
    background-color: #181818;
    margin: 15% auto;
    padding: 20px;
    padding-right: 0;
    width: 24%;
    height: 60%;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.4), 0px -5px 15px rgba(255, 255, 255, 0.11);
}

.closehwwin {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closehwwin:hover, .closehwwin:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.hwform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.class-option {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.class-option:hover {
    background-color: transparent; /* Change the color of the class-option when hovered, but doesnt work somehow */
}

.hwformgroup {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.hwformgroup label {
    font-size: 18px;
    margin: 3px 10px;
}

.showtimetablecb {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.showtimetablecb:hover .mini-timetable {
    display: block;
    opacity: 1;
}

.mini-timetable {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin: 20px;
}

.mini-timetable.visible {
    display: block;
    opacity: 1;
}

.mini-timetable th, .mini-timetable td {
    color: white;
    padding: 13px;
}

.marked {
    background-color: #4F396F;
}

.submit {
    background-color: #4F396F;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}

.submit:hover {
    background-color: #3D3053;
}