<!-- Author: Kaanhehe -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Manager</title>
    <link rel="icon" href="{{url_for('static', filename='images/SchulHub_trans (500 x 200 px).svg')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='general.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='index/index.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/bbd4622928.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var timetable_data = JSON.parse('{{ timetable_data|tojson|safe }}'); // Needed to use the timetable data in the script.js
        var homework_data = JSON.parse('{{ homework_data|tojson|safe }}'); // Needed to use the homework data in the script.js
        var repplan_data = JSON.parse('{{ repplan_data|tojson|safe }}'); // Needed to use the repplan data in the script.js
    </script>
</head>
<body>
    <div class="siteerror" style="display:none">
        <h1 class="error">{{ error }}</h1>
    </div>
    <div class="schoolhub">
        <img src="{{url_for('static', filename='images/SchulHub (500 x 200 px).svg')}}" alt="logo">
    </div>
    <div class="welcome">
        <h1 class="welcome">Willkommen, {{ username }}!</h1>
    </div>
    <div class="navbar">
        <div class="navbar-elements navbar-start">
            <a id="timetable-link" class="active" onclick="changeActiveClass(event)" href="#timetable">Stundenplan</a>
            <a id="homework-link" onclick="changeActiveClass(event)" href="#homework">Hausaufgaben</a>
        </div>
        <div class="navbar-elements navbar-end">
            <label class="darkmode-switch">
                <input id="darkmode-toggle" type="checkbox" onclick="toggleMode()">
                <span class="slider"></span>
            </label>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div id="bgimg">
        <div class="schoolbg brightbg" style="background-image: url(https://startcache.schulportal.hessen.de/exporteur.php?a=schoolbg&i=5202&s=lg);"></div>
        <img class="schoolbg darkbg" src="{{url_for('static', filename='images/3101702.jpg')}}" alt="background-image">
    </div>
    <div class="notification" onclick="hideNotification()">
        <h3 id="notification-header">Hausaufgabe hinzugefügt</h3>
        <p id="notification-text">Die Hausaufgabe wurde erfolgreich hinzugefügt</p>
    </div>
    <div class="content">
        <div id="timetable" class="visible">
                <h1>Stundenplan</h1>
                <div class="scrape_btns">
                    <button class="scrape_btn" id="scrapetimetable_btn" onclick="ScrapeTimeTable()">Stundenplan von Schulpage beziehen</button>
                    <button class="scrape_btn" id="scraperepplan_btn" onclick="ScrapeRepPlan()">Vertretungsplan von Schulpage beziehen</button>
                </div>
                <table class="timetable">
                    <thead>
                        <tr>
                            <th>Stunde</th>
                            <th>Zeit</th>
                            <th>Montag</th>
                            <th>Dienstag</th>
                            <th>Mittwoch</th>
                            <th>Donnerstag</th>
                            <th>Freitag</th>
                        </tr>
                    </thead> 
                    <tbody>
                    {% for group in timetable_data %}
                        {% set class_day, class_num, class_time, class_name, class_loc, class_tea = group[0][:6] %}
                        <tr>
                            <td>{{ class_num }}</td>
                            <td>{{ class_time }}</td>
                            {% for class_data in group %}
                                {% set class_day, class_num, class_time, class_name, class_loc, class_tea = class_data[:6] %}
                                {% set day_columns = {'Montag': 2, 'Dienstag': 3, 'Mittwoch': 4, 'Donnerstag': 5, 'Freitag': 6} %}
                                {% if class_day in day_columns %}
                                    <td>{{ class_name ~ ' ' ~ class_loc ~ ' ' ~ class_tea }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% if class_num == 6 %}
                            <tr>
                                <td>7</td>
                                <td>13:00 - 13:45</td>
                                <td colspan="6" style="text-align: center; font-size: 1.25em; font-weight: bold;" class="special-font">Mittagspause</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
        </div>
        <div id="homework">
                <h1>Hausaufgaben</h1>

                <button id="newhwbt" onclick="displayhwform()">Neue Hausaufgabe</button>

                <div id="newhwwinbg" class="newhwwinbg">
                    <div id="newhwwin" class="newhwwin">
                        <span id="closehwwinButton" class="closehwwinbtn" onclick="tryclosehwform()">&times;</span>
                        <div class="newhwwin-content">
                            <form class="hwform" action="/homework" method="post">
                                <h1 id="hwform-header">Neue Hausaufgabe</h1>
                                <div class="hwformitem">
                                    <label for="class">Fach *</label>
                                    <select required id="class" name="class" onchange="autogetDate()">
                                        <option value="">Wähle ein Fach</option>
                                        {% for class in classes_data %}
                                            <option value="{{ class }}" class="class-option">{{ class }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                
                                <div class="hwformitem">
                                    <label for="homework_task">Aufgabe *</label>
                                    <input required type="text" id="homework_task" name="homework_task" placeholder="z.B.: S.13/5a" autocomplete="off">
                                </div>

                                <div class="hwformitem">
                                    <label for="work_amount">Arbeitsaufwand *</label>
                                    <select required id="work_amount" name="work_amount">
                                        <option value="">Wähle den Arbeitsaufwand</option>
                                        <option value="1">Einfach😀</option>
                                        <option value="2">Normal🙂</option>
                                        <option value="3">Schwer🥵</option>
                                    </select>
                                </div>

                                <div class="hwformitem">
                                    <label for="due_date">Abgabedatum</label>
                                    <input type="date" id="due_date" name="due_date" onchange="markinTimetable()" onclick="markinTimetable()">
                                    <div class="showtimetablecb">
                                        <input type="checkbox" name="showtimetable" id="showtimetable" onclick="showTimetableinForm()">
                                        <label for="showtimetable">Zeig meinen Stundenplan</label>
                                    </div>
                                </div>
                                <div class="hwformbuttons">
                                    <button class="clear" type="button" onclick="resetForm()">Clear</button>
                                    <input class="submit" id="homeworksub" type="submit" value="Hinzufügen">
                                </div>
                                <div style="margin-top: 10px;">Felder mit * müssen ausgefüllt werden</div>
                            </form>
                            <table id="mini-timetable" class="mini-timetable">
                                <thead>
                                    <tr>
                                        <th>Nummer</th>
                                        <th>Zeit</th>
                                        <th>Montag</th>
                                        <th>Dienstag</th>
                                        <th>Mittwoch</th>
                                        <th>Donnerstag</th>
                                        <th>Freitag</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for group in timetable_data %}
                                        <tr>
                                            {% set class_day, class_num, class_time, class_name, class_loc, class_tea = group[0][:6] %}
                                            <td>{{ class_num }}</td>
                                            <td>{{ class_time }}</td>
                                            {% for class_data in group %}
                                                {% set class_day, class_num, class_time, class_name, class_loc, class_tea = class_data[:6] %}
                                                {% set day_columns = {'Montag': 2, 'Dienstag': 3, 'Mittwoch': 4, 'Donnerstag': 5, 'Freitag': 6} %}
                                                {% if class_day in day_columns %}
                                                    <td>{{ class_name ~ ' ' ~ class_loc ~ ' ' ~ class_tea }}</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td>7</td>
                                        <td>13:00 - 13:45</td>
                                        <td colspan="6" style="text-align: center; font-size: 1.25em; font-weight: bold;" class="lunchbreak">Mittagspause</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="cancel_popup">
                            <div class="newhwwin-cancel">
                                <div class="header">
                                    <span id="closehwwinButton" class="closehwwinbtn" onclick="closecancelwin()">&times;</span>
                                    <h2>Möchtest du wirklich abbrechen?</h2>
                                </div>
                                <div class="buttons">
                                    <button onclick="closehwform(); closecancelwin();">Ja</button>
                                    <button onclick="closecancelwin()">Nein</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="homework-table" id="homework-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Fach</th>
                            <th>Aufgabe</th>
                            <th>Arbeitsaufwand</th>
                            <th>Abgabedatum</th>
                            <th>Aktionen</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for homework in homework_data %}
                            <tr>
                                <td>{{ homework[0] }}</td>
                                <td>{{ homework[1] }}</td>
                                <td>{{ homework[2] }}</td>
                                <td>{{ homework[3] }}</td>
                                <td>{{ homework[4] }}</td>
                                <td class="hwactions">
                                    <button class="hwaction" id="hwdone" data-id="{{ homework[5] }}"><i class="fa-solid fa-check"></i></button> <!-- If its a done or not homework gets changed in change_done_homeworks() (also onclick gets added there)-->
                                    <button class="hwaction" id="hwedit" onclick="editHomework(event)"><i class="fa-regular fa-pen-to-square"></i></i></button>
                                    <button class="hwaction" id="hwdelete" onclick="deleteHomework(event)"><i class="fa-solid fa-trash-can"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button id="oldhwbtn" onclick="toggle_old_homework()">Ältere Hausaufgaben ansehen</button>
        </div>
    </div>
</body>
<script src="{{url_for('static', filename='general.js')}}"></script>
<script src="{{url_for('static', filename='index/index.js')}}"></script>
</html>
