<!-- Author: Kaanhehe -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SchulHub</title>
    <link rel="icon" href="{{url_for('static', filename='images/SchulHub_trans (500 x 200 px).svg')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='general.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='index/index.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/bbd4622928.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script type="text/javascript">
        var timetable_data = JSON.parse('{{ timetable_data|tojson|safe }}'); // Needed to use the timetable data in the script.js
        var hours_data = JSON.parse('{{ hours_data|tojson|safe }}'); // Needed to use the hours data in the script.js
        var breaks_data = JSON.parse('{{ breaks_data|tojson|safe }}'); // Needed to use the breaks data in the script.js
        var classes_data = JSON.parse('{{ classes_data|tojson|safe }}'); // Needed to use the classes data in the script.js
        var homework_data = JSON.parse('{{ homework_data|tojson|safe }}'); // Needed to use the homework data in the script.js
        var repplan_data = JSON.parse('{{ repplan_data|tojson|safe }}'); // Needed to use the repplan data in the script.js
    </script>
</head>
<body>
    <div class="siteerror" style="display:none">
        <h1 class="error">{{ error }}</h1>
    </div>
    <div class="schoolhub">
        <a href="/">
            <img src="{{url_for('static', filename='images/SchulHub (500 x 200 px).svg')}}" alt="logo">
        </a>
    </div>
    <div class="welcome">
        <h1 class="welcome">Willkommen, {{ username }}!</h1>
    </div>
    <div class="navbar">
        <div class="navbar-elements navbar-start">
            <a id="timetable-link" class="active" onclick="changeActiveClass(event); RefreshTimetable();" href="#timetable">Stundenplan</a>
            <a id="homework-link" onclick="changeActiveClass(event); RequestHomeworkRefresh(); change_done_homeworks();" href="#homework">Hausaufgaben</a>
        </div>
        <div class="navbar-elements navbar-end">
            <label class="darkmode-switch">
                <input id="darkmode-toggle" type="checkbox" onclick="toggleMode()">
                <span class="slider"></span>
            </label>
            <a href="/settings">Einstellungen</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div id="bgimg">
        <div class="schoolbg brightbg" style="background-image: url(https://startcache.schulportal.hessen.de/exporteur.php?a=schoolbg&i=5202&s=lg);"></div>
        <img class="schoolbg darkbg" src="{{url_for('static', filename='images/3101702.jpg')}}" alt="background-image">
    </div>
    <div class="notification" onclick="hideNotification()">
        <h3 id="notification-header">Hausaufgabe hinzugefügt</h3>
        <p id="notification-text">Die Hausaufgabe wurde erfolgreich hinzugefügt</p>
    </div>
    <div class="content">
        <div class="timetable visible">
                <div class="scrape_form_bg">
                    <div class="scrape_form_win">
                        <span id="closeScrapeFormButton" class="closeScrapeFormbtn" onclick="CloseScrapeForm()">&times;</span>
                        <div class="scrape_form-content">
                            <form class="scrapeform" action="/scrape" method="post">
                                <h1 id="scrapeform-header">Schulportal-Login Daten</h1>
                                <div class="scrapeformitem">
                                    <label for="login_url">Link zur Schulportal-Login Seite deiner Schule</label>
                                    <input required type="url" id="login_url" name="login_url" placeholder="https://login.schulportal.hessen.de/?i=XXXX">
                                </div>
                                <div class="scrapeformitem">
                                    <label for="username">Loginname</label>
                                    <input required type="text" id="username" name="username" placeholder="Vorname.Nachname (oder Kürzel bei Lehrenden)">
                                </div>
                                <div class="scrapeformitem">
                                    <label for="password">Passwort für den Schulportal-Login <i class="fa-solid fa-circle-info" title="Dein Passwort wird verschlüsselt, und kann nur mit deinem Passwort für unsere Seite entschlüsselt werden!"></i></label>
                                    <input required type="password" id="password" name="password" placeholder="Passwort">
                                </div>
                                <div class="scrapeformitem">
                                    <label for="user_password">Dein Passwort <i class="fa-solid fa-circle-info" title="Hier wird dein Passwort für diese Seite (SchulHub) benötigt"></i></label>
                                    <input required type="password" id="user_password" name="user_password" placeholder="Passwort">
                                </div>
                                <div class="scrapeformbuttons">
                                    <input class="submit" id="scrapesub" type="submit" value="Absenden">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="passwort_input_bg">
                    <div class="passwort_input_win">
                        <span id="closePasswortInputButton" class="closePasswortInputbtn" onclick="ClosePasswortForm()">&times;</span>
                        <div class="passwort_input-content">
                            <form class="passwortinputform" action="/passwort" method="post">
                                <h1 id="passwortinputform-header">Passwort benötigt</h1>
                                <div class="passwortinputformitem">
                                    <label for="passwort_input">Dein Passwort <i class="fa-solid fa-circle-info" title="Hier wird dein Passwort für diese Seite (SchulHub) benötigt"></i></label>
                                    <input required type="password" id="passwort_input" name="passwort_input" placeholder="Passwort">
                                </div>
                                <div class="passwortinputformbuttons">
                                    <input class="submit" id="passwortsub" type="submit" value="Absenden">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <h1>Stundenplan</h1>
                <div class="scrape_btns">
                    <button class="scrape_btn" id="scrapetimetable_btn" onclick="ScrapeTimeTable()">Stundenplan von Schulportal beziehen</button>
                    <button class="scrape_btn" id="scraperepplan_btn" onclick="ScrapeRepPlan()">Vertretungsplan von Schulportal beziehen</button>
                </div>
                <table id="timetable">
                    <thead>
                        <tr>
                            <th>Stunde</th>
                            <th>Zeit</th>
                            <th>Montag</th>
                            <th>Dienstag</th>
                            <th>Mittwoch</th>
                            <th>Donnerstag</th>
                            <th>Freitag</th>
                        </tr>
                    </thead> 
                    <tbody>
                        <!-- Timetable gets applied in javascript -->
                    </tbody>
                </table>
        </div>
        <div class="homework">
                <h1>Hausaufgaben</h1>

                <button id="newhwbt" onclick="displayhwform()">Neue Hausaufgabe</button>

                <div id="newhwwinbg" class="newhwwinbg">
                    <div id="newhwwin" class="newhwwin">
                        <span id="closehwwinButton" class="closehwwinbtn" onclick="tryclosehwform()">&times;</span>
                        <div class="newhwwin-content">
                            <form class="hwform" action="/homework" method="post">
                                <h1 id="hwform-header">Neue Hausaufgabe</h1>
                                <div class="hwformitem">
                                    <label for="class">Fach *</label>
                                    <select required id="class" name="class" onchange="autogetDate()">
                                        <option value="" class="class-option">Wähle das Fach</option>
                                        <!-- Gets set in JS -->
                                    </select>
                                </div>
                                
                                <div class="hwformitem">
                                    <label for="homework_task">Aufgabe *</label>
                                    <input required type="text" id="homework_task" name="homework_task" placeholder="z.B.: S.13/5a" autocomplete="off">
                                </div>

                                <div class="hwformitem">
                                    <label for="work_amount">Arbeitsaufwand *</label>
                                    <select required id="work_amount" name="work_amount">
                                        <option value="">Wähle den Arbeitsaufwand</option>
                                        <option value="1">Einfach😀</option>
                                        <option value="2">Normal🙂</option>
                                        <option value="3">Schwer🥵</option>
                                    </select>
                                </div>

                                <div class="hwformitem">
                                    <label for="due_date">Abgabedatum</label>
                                    <input type="date" id="due_date" name="due_date" onchange="markinTimetable()" onclick="markinTimetable()">
                                    <div class="showtimetablecb">
                                        <input type="checkbox" name="showtimetable" id="showtimetable" onclick="showTimetableinForm()">
                                        <label for="showtimetable">Zeig meinen Stundenplan</label>
                                    </div>
                                </div>
                                <div class="hwformbuttons">
                                    <button class="clear" type="button" onclick="resetForm()">Clear</button>
                                    <input class="submit" id="homeworksub" type="submit" value="Hinzufügen">
                                </div>
                                <div style="margin-top: 10px;">Felder mit * müssen ausgefüllt werden</div>
                            </form>
                            <div class="mini-timetable">
                                <h1>Stundenplan</h1>
                                <table id="mini-timetable">
                                    <thead>
                                        <tr>
                                            <th>Nummer</th>
                                            <th>Zeit</th>
                                            <th>Montag</th>
                                            <th>Dienstag</th>
                                            <th>Mittwoch</th>
                                            <th>Donnerstag</th>
                                            <th>Freitag</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Timetable gets applied in javascript -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="cancel_popup">
                        <div class="newhwwin-cancel">
                            <div class="header">
                                <span id="closehwwinButton" class="closehwwinbtn" onclick="closecancelwin()">&times;</span>
                                <h2>Möchtest du wirklich abbrechen?</h2>
                            </div>
                            <div class="buttons">
                                <button onclick="closehwform(); closecancelwin();">Ja</button>
                                <button onclick="closecancelwin()">Nein</button>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="homework-table" id="homework-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Fach</th>
                            <th>Aufgabe</th>
                            <th>Arbeitsaufwand</th>
                            <th>Abgabedatum</th>
                            <th>Aktionen</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for homework in homework_data %}
                            <tr>
                                <td>{{ homework[0] }}</td>
                                <td>{{ homework[1] }}</td>
                                <td>{{ homework[2] }}</td>
                                <td>{{ homework[3] }}</td>
                                <td>{{ homework[4] }}</td>
                                <td class="hwactions">
                                    <button class="hwaction" id="hwdone" data-id="{{ homework[5] }}"><i class="fa-solid fa-check"></i></button> <!-- If its a done or not homework gets changed in change_done_homeworks() (also onclick gets added there)-->
                                    <button class="hwaction" id="hwedit" onclick="editHomework(event)"><i class="fa-regular fa-pen-to-square"></i></button>
                                    <button class="hwaction" id="hwdelete" onclick="deleteHomework(event)"><i class="fa-solid fa-trash-can"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button id="oldhwbtn" onclick="toggle_old_homework()">Ältere Hausaufgaben ansehen</button>
        </div>
    </div>
</body>
<script src="{{url_for('static', filename='general.js')}}"></script>
<script src="{{url_for('static', filename='index/index.js')}}"></script>
</html>
