<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="icon" href="{{url_for('static', filename='images/SchulHub_trans (500 x 200 px).svg')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='general.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='settings/settings.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/bbd4622928.js" crossorigin="anonymous"></script>
    <script>
        var breaks = JSON.parse('{{ breaks|tojson|safe }}');
        var times = JSON.parse('{{ times|tojson|safe }}');
        var classes = JSON.parse('{{ classes|tojson|safe }}');
        var timetable_data = JSON.parse('{{ timetable_data|tojson|safe }}');
    </script>
</head>
<body>
    <div class="siteerror" style="display:none">
        <h1 class="error">{{ error }}</h1>
    </div>
    <div class="schoolhub">
        <a href="/">
            <img src="{{url_for('static', filename='images/SchulHub (500 x 200 px).svg')}}" alt="logo">
        </a>
    </div>
    <div class="navbar">
        <div class="navbar-elements navbar-start">
            <a id="account-link" class="active" onclick="changeActiveClass(event)" href="#account">Account</a>
            <a id="general-link" onclick="changeActiveClass(event)" href="#general">Allgemein</a>
            <a id="timetable-link" onclick="changeActiveClass(event)" href="#timetable">Stundenplan</a>
        </div>
        <div class="navbar-elements navbar-end">
            <label class="darkmode-switch">
                <input id="darkmode-toggle" type="checkbox" onclick="toggleMode()">
                <span class="slider"></span>
            </label>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div id="bgimg">
        <div class="schoolbg brightbg" style="background-image: url(https://startcache.schulportal.hessen.de/exporteur.php?a=schoolbg&i=5202&s=lg);"></div>
        <div class="schoolbg darkbg"></div>
    </div>
    <div class="notification" onclick="hideNotification()">
        <h3 id="notification-header">Bla bla bla</h3>
        <p id="notification-text">Bla bla bla</p>
    </div>
    <div class="content">
        <div id="loadingCircle" class="loading-bg">
            <div class="loading-window">
                <div class="loading-circle-container">
                    <div class="loading-circle"></div>
                    <h3 class="loading-text">Bitte warten</h3>
                </div>
            </div>
        </div>
        <div class="account visible">
            <h1>Account</h1>
            <div class="account-info">
                <div class="input-window-bg" id="change-username-bg">
                    <div class="input-window" id="change-username">
                        <span class="closeChangebtn" id="closeUsernameChangebtn" onclick="closeUsernameChange()">&times;</span>
                        <div class="change-content">
                            <form class="change-form" id="change-username-form">
                                <h2>Benutzernamen ändern</h2>
                                <input type="text" name="username" placeholder="Neuer Benutzername" required>
                                <button class="submit" type="submit">Ändern</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="input-window-bg" id="change-email-bg">
                    <div class="input-window" id="change-email">
                        <span class="closeChangebtn" id="closeEmailChangebtn" onclick="closeEmailChange()">&times;</span>
                        <div class="change-content">
                            <form class="change-form" id="change-email-form">
                                <h2>E-Mail ändern</h2>
                                <input type="email" name="email" placeholder="Neue E-Mail" required>
                                <button class="submit" type="submit">Ändern</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="input-window-bg" id="change-password-bg">
                    <div class="input-window" id="change-password">
                        <span class="closeChangebtn" id="closePasswordChangebtn" onclick="closeChangePassword()">&times;</span>
                        <div class="change-content">
                            <form class="change-form" id="change-password-form">
                                <h2>Passwort ändern</h2>
                                <input type="password" name="old_password" placeholder="Altes Passwort" required>
                                <input type="password" id="new_password" name="new_password" placeholder="Neues Passwort" required>
                                <input type="password" id="confirm_new_password" name="confirm_new_password" placeholder="Neues Passwort wiederholen" required>
                                <p>Deine Schulportal-Login werden gelöscht!</p>
                                <button class="submit" type="submit">Ändern</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="input-window-bg" id="delete-userdata-bg">
                    <div class="input-window" id="delete-userdata">
                        <span class="closeChangebtn" id="closeDeleteUserDatabtn" onclick="closeDeleteUserData()">&times;</span>
                        <div class="change-content">
                            <form class="change-form" id="delete-userdata-form">
                                <h2>Daten löschen</h2>
                                <h3>Welche Daten möchtest du löschen?</h3>
                                <div class="delete-options">
                                    <div class="delete-option">
                                        <label for="login-data">Schulportal-Zugangsdaten</label>
                                        <input type="checkbox" name="login-data" id="login-data">
                                    </div>
                                    <div class="timetable-options">
                                        <h3>Stundenplan Optionen</h3>
                                        <div class="delete-option">
                                            <label for="timetable">Stundenplan</label>
                                            <input type="checkbox" name="timetable" id="timetable">
                                        </div>
                                        
                                        <div class="delete-option">
                                            <label for="classes">Fächer</label>
                                            <input type="checkbox" name="classes" id="classes">
                                        </div>
                                        
                                        <div class="delete-option">
                                            <label for="breaks">Pausen</label>
                                            <input type="checkbox" name="breaks" id="breaks">
                                        </div>
                                        
                                        <div class="delete-option">
                                            <label for="times">Zeiten</label>
                                            <input type="checkbox" name="times" id="times">
                                        </div>
                                    </div>
                                    <div class="delete-option">
                                        <label for="homework">Hausaufgaben</label>
                                        <input type="checkbox" name="homework" id="homework">
                                    </div>
                                    <div class="delete-option">
                                        <label for="repplan">Vertretungsplan</label>
                                        <input type="checkbox" name="repplan" id="repplan">
                                    </div>
                                </div>
                                <h3>Deine Passwort</h3>
                                <input type="password" name="password" placeholder="Dein Passwort" required>
                                <p>Willst du wirklich alle ausgewählten Daten löschen?</p>
                                <button class="submit" type="submit">Ja</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="input-window-bg" id="delete-account-bg">
                    <div class="input-window" id="delete-account">
                        <span class="closeChangebtn" id="closeDeleteAccountbtn" onclick="closeDeleteAccount()">&times;</span>
                        <div class="change-content">
                            <form class="change-form" id="delete-account-form">
                                <h2>Account löschen</h2>
                                <input type="password" name="password" placeholder="Dein Passwort" required>
                                <p>Willst du wirklich deinen Account löschen?</p>
                                <button class="submit" type="submit">Ja</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="account-info-element">
                    <h2>Benutzername</h2>
                    <p>{{ username }} <button class="account-button" onclick="changeUsername()">Benutzernamen ändern</button></p>
                </div>
                <div class="account-info-element">
                    <h2>E-Mail</h2>
                    <p>{{ email }} <button class="account-button" onclick="changeEmail()">E-Mail ändern</button></p>
                </div>
                <div class="account-info-element">
                    <h2>Passwort</h2>
                    <p>******** <button class="account-button" onclick="changePassword()">Passwort ändern</button></p>
                </div>
            </div>
            <h2>Account Aktionen</h2>
            <div class="account-buttons">
                <button class="account-button" onclick="changeScrapeData()">Schulportal-Login Daten ändern</button>
                <button class="account-button" onclick="deleteUserData()">Daten löschen</button>
                <button class="account-button" onclick="deleteAccount()">Account löschen</button>
            </div>
        </div>
        <div class="general">
            <h1>Allgemein</h1>
            <details class="classes">
                <summary>Fächer</summary>
                <div class="classes-container">
                        <!-- <div class="class">
                            <input type="text" name="class_name" placeholder="Name" required disabled>
                            <input type="text" name="custom_name" placeholder="Name" required>
                            <input type="color" name="class_color" placeholder="Farbe" required>
                            <button class="remove-class" onclick="removeClass(this)">Entfernen</button>
                        </div> -->
                </div>
                <div class="classes-buttons">
                    <button class="add-class" onclick="addClass()">Klasse Hinzufügen</button>
                    <button class="save-classes" onclick="saveClasses()">Speichern</button>
                </div>
            </details>
            <details class="timetable-breaks">
                <summary>Stundenplan Pausen</summary>
                <div class="breaks-container">
                    <!-- <div class="break">
                        <input type="text" name="break-name" placeholder="Pausen Name" required>
                        <input type="text" name="break-start" placeholder="Pausen Start" required>
                        <input type="text" name="break-end" placeholder="Pausen Ende" required>
                        <button class="remove-break" onclick="removeBreak(this)">Entfernen</button>
                    </div> -->
                </div>
                <div class="breaks-buttons">
                    <button class="add-break" onclick="addBreak()">Pause Hinzufügen</button>
                    <button class="save-breaks" onclick="saveBreaks()">Speichern</button>
                </div>
            </details>
            <details class="timetable-times">
                <summary>Stundenplan Zeiten</summary>
                <div class="times-container">
                    <!-- <div class="time">
                        <input type="text" name="lesson-hour" placeholder="Stunde" required>
                        <input type="text" name="lesson-start" placeholder="Stunden Start" required>
                        <input type="text" name="lesson-end" placeholder="Stunden Ende" required>
                        <button class="remove-time" onclick="removeTime(this)">Entfernen</button>
                    </div> -->
                </div>
                <div class="times-buttons">
                    <button class="add-time" onclick="addTime()">Zeit Hinzufügen</button>
                    <button class="save-times" onclick="saveTimes()">Speichern</button>
                </div>
            </details>
        </div>
        <div class="timetable">
            <h1>Stundenplan</h1>
            <div class="timetable-container">
                
            </div>
            <div class="timetable-buttons">
                <button class="save-timetable" onclick="saveTimetable()">Alles Speichern</button>
            </div>
        </div>
    </div>
</body>
<script src="{{url_for('static', filename='general.js')}}"></script>
<script src="{{url_for('static', filename='settings/settings.js')}}"></script>
</html>