.timetable, .homework, .repplan, .password_input {
    width: 100%;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    overflow-x: auto;
}

.timetable.visible, .homework.visible, .repplan.visible, .password_input.visible {
    display: block;
    opacity: 1;
}

.scrape_form_bg {
    display: none;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--darkout-bg-popup);
    overflow: hidden;
}

.scrape_form_bg.visible {
    opacity: 1;
}

.scrape_form_win {
    display: flex;
    width: 22%;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-grey);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.4), 0px -5px 15px rgba(255, 255, 255, 0.11);
}

.closeScrapeFormbtn {
    align-self: flex-end;
    color: #aaa;
    font-size: 1.75em;
    font-weight: bold;
}

.closeScrapeFormbtn:hover, .closeScrapeFormbtn:focus {
    color: var(--light-grey);
    text-decoration: none;
    cursor: pointer;
}

.scrape_form-content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.scrapeform {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.scrapeformitem {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 10px;
}

.scrapeformbuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 65%;
}

.password_input_bg {
    display: none;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--darkout-bg-popup);
    overflow: hidden;
}

.password_input_win {
    display: flex;
    width: 22%;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-grey);
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.4), 0px -5px 15px rgba(255, 255, 255, 0.11);
}

.closePasswordInputbtn {
    align-self: flex-end;
    margin: 10px;
    margin-right: 20px;
    color: #aaa;
    font-size: 1.75em;
    font-weight: bold;
}

.closePasswordInputbtn:hover, .closePasswordInputbtn:focus {
    color: var(--light-grey);
    text-decoration: none;
    cursor: pointer;
}

.password_input-content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.passwordinputform {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.passwordinputformitem {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 10px;
}

.passwordinputformbuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 65%;
}

.scrape_btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0;
}

.scrape_btn {
    background-color: var(--main-purple);
    color: var(--main-white);
    width: 100%;
    padding: 10px 32px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}

.scrape_btn:last-child {
    margin-right: 0;
}

.scrape_btn:hover {
    background-color: var(--secondary-purple);
}

.scrape_btn:active {
    background-color: var(--third-purple);
}

#timetable, #homework-table, #repplan-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin: 15px 0;
}

.timetablecell:hover {
    box-shadow: 0px 0px 10px 1.5px rgba(255, 255, 255, 0.5);
}

.highlight {
    background-color: var(--secondary-purple);
}

.currentLesson {
    background-color: var(--main-purple);
}

.timetablebreak {
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    color: var(--main-white);
}

.hwactions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hwaction {
    background-color: var(--main-purple);
    color: var(--main-white);
    width: 100%;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    margin: 2px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.hwaction:hover {
    background-color: var(--secondary-purple);
}

.hwaction:active {
    background-color: var(--third-purple);
}

#hwdone {
    background-color: #396f39;
}

#hwdone:hover {
    background-color: #305330;
}

#hwdone:active {
    background-color: #2b4a2b;
}

#hwdone.undone {
    background-color: #6f3939;
}

#hwdone.undone:hover {
    background-color: #533030;
}

#hwdone.undone:active {
    background-color: #4a2b2b;
}

#hwedit {
    background-color: #396F6F;
}

#hwedit:hover {
    background-color: #305353;
}

#hwedit:active {
    background-color: #2b4a4a;
}

#hwdelete {
    background-color: #6f3939;
}

#hwdelete:hover {
    background-color: #533030;
}

#hwdelete:active {
    background-color: #4a2b2b;
}

#newhwbt {
    background-color: var(--main-purple);
    color: var(--main-white);
    width: 100%;
    margin-top: 15px;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}

#newhwbt:hover {
    background-color: var(--secondary-purple);
}

#newhwbt:active {
    background-color: var(--third-purple);
}

.newhwwinbg {
    display: none;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--darkout-bg-popup);
    overflow: hidden;
}

.newhwwinbg.visible {
    opacity: 1;
}

.newhwwin {
    display: flex;
    width: 25%;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--dark-grey);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.4), 0px -5px 15px rgba(255, 255, 255, 0.11);
    overflow-x: auto;
}

.newhwwin.expanded {
    width: 80%;
}

.cancel_popup {
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: opacity 0.1s ease-in-out;
    position: fixed;
    overflow: auto;
    background-color: var(--darkout-bg-popup);
    overflow: hidden;
}

.cancel_popup.visible {
    opacity: 1;
}

.newhwwin-cancel {
    display: flex;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--dark-grey);
    padding: 20px;
    width: 25%;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.4), 0px -5px 15px rgba(255, 255, 255, 0.11);

}

.newhwwin-cancel h1 {
    margin: 10px;
}

.newhwwin-cancel .buttons {
    display: flex;
    flex-direction: row;
}

.newhwwin-cancel button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-purple);
    width: 50%;
    height: auto;
    color: var(--main-white);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 10px;
    cursor: pointer;
    border-radius: 20px;
    transition: width 0.3s ease-in-out;
}

.newhwwin-cancel button:hover {
    background-color: var(--secondary-purple);
}

.newhwwin-cancel .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.closehwwinbtn {
    align-self: flex-end;
    margin: 10px;
    color: #aaa;
    font-size: 1.75em;
    font-weight: bold;
}

.closehwwinbtn:hover, .closehwwinbtn:focus {
    color: var(--light-grey);
    text-decoration: none;
    cursor: pointer;
}

.newhwwin-content {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.hwform {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.class-option {
    font-size: 1.25em;
    font-weight: bold;
    color: var(--user-input-text);
    background-color: var(--light-grey);
}

.class-option:hover {
    background-color: transparent; /* Change the color of the class-option when hovered, but doesnt work somehow */
}

.hwformitem {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 10px;
}

.hwformitem input[type=checkbox] {
    background-color: var(--main-purple);
    width: 20px;
    height: 20px;
    margin: 3px 10px;
    cursor: pointer;
}

.hwformitem label {
    font-size: 1.1em;
    margin: 3px 10px;
}

.showtimetablecb {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.showtimetablecb:hover .mini-timetable {
    display: block;
    opacity: 1;
}

.mini-timetable {
    display: none;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
    margin: 20px;
    margin-top: 0;
}

.mini-timetable h1 {
    margin-bottom: 10px;
    color: var(--main-white);
}

.mini-timetable.visible {
    display: block;
    opacity: 1;
}
#mini-timetable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

#mini-timetable th, #mini-timetable td {
    color: var(--main-white);
    padding: 7px;
}

.marked {
    background-color: var(--main-purple);
}

.hwformbuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 65%;
}

.clear {
    background-color: var(--secondary-purple);
    color: var(--main-white);
    border: none;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 0.188em 0.125em;
    cursor: pointer;
    border-radius: 0.625em;
}

.clear:hover {
    background-color: var(--third-purple);
}

.submit {
    background-color: var(--main-purple);
    color: var(--main-white);
    border: none;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 0.188em 0.125em;
    cursor: pointer;
    border-radius: 0.625em;
}

.submit:hover {
    background-color: var(--secondary-purple);
}

#oldhwbtn, #oldrepbtn {
    background-color: var(--main-purple);
    color: var(--main-white);
    width: 100%;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 1.25em;
}

#oldhwbtn:hover, #oldrepbtn:hover {
    background-color: var(--secondary-purple);
}

#oldhwbtn:active, #oldrepbtn:active {
    background-color: var(--third-purple);
}

@media screen and (max-width: 1400px) {
    .newhwwin, .scrape_form_win, .password_input_win {
        width: 40%;
    }
    .newhwwin.expanded {
        width: 100%;
    }
    .newhwwin-cancel {
        width: 30%;
    }

}

@media screen and (max-width: 800px) {
    .newhwwin, .scrape_form_win, .password_input_win {
        width: 50%;
    }
    .newhwwin.expanded {
        width: 90%;
    }
    .newhwwin-cancel {
        width: 40%;
    }

}

@media screen and (max-width: 700px) {
    .scrape_btn {
        padding: 6px;
    }
    .hwaction {
        font-size: 0.5em;
        padding: 3px;
        color: var(--main-white);
    }
    .newhwwin, .scrape_form_win, .password_input_win {
        width: 60%;
    }
    .newhwwin.expanded {
        width: 100%;
    }
    .newhwwin-cancel {
        width: 60%;
    }
}

@media screen and (max-width: 500px) {
    .newhwwin, .scrape_form_win, .password_input_win {
        width: 70%;
    }
    .clear {
        padding: 10px 20px;
    }
    .submit {
        padding: 10px 20px;
    }
    #mini-timetable {
        font-size: 0.8em;
    }
    #mini-timetable th, #mini-timetable td{
        padding: 4px;
    }
}

@media screen and (max-width: 300px) {
    .scrape_btn {
        padding: 3px;
    }
    .hwaction {
        font-size: 0.4em;
        padding: 2px;
    }
    .newhwwin, .scrape_form_win, .password_input_win {
        width: 100%;
    }
    .newhwwin-cancel {
        width: 80%;
    }
}